body {
  background-image: url(img/background.jpg);
  padding: 20px;
  font-family: "Gill Sans Extrabold", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

form {
    width: 100%;
      max-width: 650px;
      min-width: 300px;
    height: auto;
    background-color: #1b1b32E6;
    color: #f3f3f3;
    font-size: 1rem;
    padding: 40px;
    border-radius: 5px;
    margin: auto;
}

h1, p {
    margin: 5px;
    text-align: center;
}

p {
  font-style: italic;
  padding-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.dropdown {
  text-indent: 10px;
  height: 2.375rem;
  font-size: medium;
}

.comment {
  text-indent: 10px;
  font-size: medium;
}

input, textarea, select {
    margin: 10px 0 20px 0;
      width: 100%;
    min-height: 2em;
    line-height: 30px;
    border-radius: 5px;
    padding: 3px;
}

::placeholder {
  font-size: medium;
}

input {
  text-indent: 10px;
  font-size: medium;
}

  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
  }

input[type="radio"] {
  width: auto;
  margin-bottom: 0.5rem;
  vertical-align: middle;
  min-height: 1rem;
  min-width: 0.5rem;
}

input[type="checkbox"] {
  width: auto;
  margin-bottom: 0.5rem;
  vertical-align: middle;
  min-height: 1rem;
  min-width: 0.5rem;
}

input[type="submit"] {
  display: block;
  width: 30%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #189146;
  border-color: white;
  min-width: 10px;
  color: #f3f3f3;
}